In [1]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [4]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [7]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [6]:
df_green.printSchema()
# df_green.columns

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [8]:
df_yellow.printSchema()
# df_yellow.columns

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [9]:
##### Get common columns 

# Change datetimes to 'pickup_datetime' and 'dropoff_datetime'
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [11]:
# Saving common columns (preserving order!)
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns: 
    if col in yellow_columns:
        common_columns.append(col)
        
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [13]:
from pyspark.sql import functions as F

In [16]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [17]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In order to run `spark.sql()`, we need to tell Spark what tables/dataframes exist for querying!

In [19]:
df_trips_data.registerTempTable('trips_data')

/opt/anaconda3/lib/python3.11/site-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [22]:
spark.sql("""

SELECT 
  service_type
, COUNT(1)
FROM trips_data
GROUP BY 1
-- LIMIT 10;

""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

Now, executing a more complicated query (taking `dim_monthly_zone_revenue.sql` from `04-analytics-engineering`, with some slight adjustments)...

In [26]:
df_result = spark.sql("""
SELECT 
  PULocationID AS revenue_zone 
, date_trunc('month', 'pickup_datetime') AS revenue_month
, service_type 

/* Revenues */
, SUM(fare_amount) AS revenue_monthly_fare
, SUM(extra) AS revenue_monthly_extra
, SUM(mta_tax) AS revenue_monthly_mta_tax
, SUM(tip_amount) AS revenue_monthly_tip_amount
, SUM(tolls_amount) AS revenue_monthly_tolls_amount
, SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge
, SUM(total_amount) AS revenue_monthly_total_amount
, SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge

/* Additional Calculations */
, AVG(passenger_count) AS avg_monthly_passenger_count
, AVG(trip_distance) AS avg_monthly_trip_distance
FROM trips_data 
WHERE 1=1
GROUP BY 1,2,3
""")

In [27]:
# Use `.coalesce()` (which acts like `.repartition()` to REDUCE the number of partitions!)
df_result.coalesce(1).write.parquet('data/report/revenue/', mode = 'overwrite')

In [31]:
df_result.show()

+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|revenue_zone|revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|         254|         NULL|       green|   278150.7100000002|             11320.52|                  854.5|                    9569.9|          13415.779999999957|                   2786.1000000000477|          316342.10999999905|                                22.0|          1.138095238095238|       249.57145962406813|
|          38|         NULL|       green|   82767.60999999996|               2537.6|                  237.5|                   2433.53|           3530.910000000002|                    664.1999999999978|           92221.79999999999|                                2.75|         1.1342925659472423|        151.5832342657342|
|         229|         NULL|       green|  13658.469999999998|                689.3|                   23.0|                    388.43|                       789.1|                    132.0000000000001|          15699.049999999997|                               13.25|         1.2222222222222223|         8.25965986394558|
|         188|         NULL|       green|  430873.55000000075|             21162.42|                 1931.0|        19095.489999999998|           6813.590000000003|                    5714.400000000026|          486763.99999999895|                              348.75|         1.1596080910240203|        82.27654449456637|
|         232|         NULL|       green|  40609.979999999996|   1913.9499999999998|                  64.55|        1314.6000000000001|          1395.4100000000003|                    403.4999999999994|           45729.53999999999|                                5.25|          1.069767441860465|        261.1684855233854|
|          91|         NULL|       green|  250313.22000000064|   12562.130000000003|                  787.0|                   8716.69|                     6357.61|                   2745.3000000000457|          281822.25000000035|                                11.0|         1.1644120707596255|       150.86490212498694|
|         134|         NULL|       green|  237161.71000000002|   10112.500000000002|                 5852.0|                  17749.85|           4267.540000000002|                    4513.199999999843|           280469.1500000046|                              734.25|         1.3807110815750125|       14.592568801313632|
|         241|         NULL|       green|   146435.9700000001|              4976.45|                  874.5|         5909.280000000001|           5791.600000000004|                   1537.2000000000025|           165902.9499999996|                                82.5|         1.1257344300822563|       142.77369097091056|
|         101|         NULL|       green|   39496.08999999998|   1367.1999999999998|                  112.0|        1092.3700000000001|           952.1200000000003|                   323.99999999999955|          43368.630000000005|                                22.0|                        1.2|       195.69598389982121|
|          93|         NULL|       green|            30308.01|               655.65|                  297.5|                   2848.06|          1195.7500000000002|                    314.0999999999996|           35931.47000000003|                               291.5|         1.3621399176954732|        7.395726179463459|
|         118|         NULL|       green|   4471.259999999999|                41.25|                   25.5|                     90.87|           650.9100000000001|                   23.699999999999996|                     5303.49|                                 0.0|          1.169811320754717|       18.348101265822784|
|         189|         NULL|       green|   94516.57999999993|              4349.99|                 1131.0|                    7784.5|           769.1300000000001|                   1469.4000000000074|          111309.84999999973|                              700.25|         1.2221715328467153|       100.36491477842387|
|         153|         NULL|       green|   44446.13999999998|   1739.5999999999997|                  314.0|                   1898.36|           836.8100000000001|                    538.4999999999985|           49846.36000000003|                                38.5|         1.1730769230769231|        85.14134782608694|
|         221|         NULL|       green|   4423.110000000001|                 43.0|                   25.5|         97.50999999999999|                      650.65|                                 25.2|                     5278.72|                                 0.0|         1.5272727272727273|       15.346785714285716|
|         225|         NULL|       green|   327440.8000000006|   15683.279999999997|                 1740.5|                  14035.02|           6848.680000000002|                    4104.900000000023|                   370806.53|                              257.75|          1.153555479216764|         26.1923850756776|
|          76|         NULL|       green|   519384.7099999982|   22772.819999999992|                 1959.0|        17321.469999999998|          16248.769999999911|                    5437.200000000008|           583539.5200000033|                                8.25|         1.2111475409836066|           79.12579277698|
|         227|         NULL|       green|  145901.41000000018|              4067.25|                  700.5|                   5313.89|          1879.9700000000007|                   1220.6999999999946|          159232.01999999964|                               41.25|          1.043778801843318|       30.871060496505198|
|          94|         NULL|       green|   82998.72000000003|               3515.7|                  562.0|                   3282.34|           2794.860000000001|                   1018.7999999999948|           94344.32000000004|                                46.5|         1.1953612845673507|        75.99355281992554|
|          52|         NULL|       green|  204883.63000000003|               6166.2|                 7813.5|        30908.170000000024|          1451.2800000000002|                    4981.799999999789|           262175.6300000048|                              6024.0|         1.2154023577652486|        5.637083707293724|
|         160|         NULL|       green|   46051.61999999999|              1986.95|                  224.0|                   2058.21|          1289.8200000000002|                    539.0999999999984|           52245.80000000002|                                38.5|         1.2039473684210527|        9.662490483958676|
+------------+-------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
only showing top 20 rows